@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  /* padding: 2rem; */
}

input:not([type="checkbox"]):not([type="radio"]) {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-2 leading-tight focus:outline-none focus:bg-white focus:border-emerald-800 dark:bg-gray-700 dark:border-gray-700 dark:focus:bg-gray-600;
}

button {
  @apply bg-emerald-700 dark:bg-emerald-500 hover:bg-emerald-500 dark:hover:bg-emerald-600 text-white dark:text-slate-800 font-bold py-2 px-4 rounded;
}
